<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AutoConnectOnInstall</key>
	<integer>0</integer>
	<key>AutoStartVPN</key>
	<string></string>
	<key>AutoStartVPNOnlyOffNet</key>
	<integer>0</integer>
	<key>DNSServiceResettingInterval</key>
	<integer>0</integer>
	<key>DisableConnectDisconnect</key>
	<integer>0</integer>
	<key>DisallowPersonalVPN</key>
	<integer>0</integer>
	<key>DtlsMTU</key>
	<integer>1100</integer>
	<key>EnableIPSec</key>
	<integer>1</integer>
	<key>EnableSSL</key>
	<integer>1</integer>
	<key>InheritLocalDNS</key>
	<integer>0</integer>
	<key>IpsecShouldBlockIpv6</key>
	<integer>1</integer>
	<key>MinimizeOnConnect</key>
	<integer>0</integer>
	<key>PreferDtlsTunnel</key>
	<integer>0</integer>
	<key>Profiles</key>
	<dict>
		<key>HHQQ_SSO</key>
		<dict>
			<key>AllowAutoConnect</key>
			<integer>0</integer>
			<key>AllowKeepRunning</key>
			<integer>0</integer>
			<key>AllowSavePassword</key>
			<integer>0</integer>
			<key>AllowedTags</key>
			<string></string>
			<key>AuthInfo</key>
			<string></string>
			<key>CertCNMatchType</key>
			<string></string>
			<key>CertCNPattern</key>
			<string></string>
			<key>CertIssuerMatchType</key>
			<string></string>
			<key>CertIssuerPattern</key>
			<string></string>
			<key>Comment</key>
			<string></string>
			<key>EmsAllowAutoConnect</key>
			<integer>0</integer>
			<key>EmsAllowKeepRunning</key>
			<integer>0</integer>
			<key>EmsAllowSavePassword</key>
			<integer>0</integer>
			<key>EnableCustomPort</key>
			<integer>1</integer>
			<key>GotSettingsFromFGT</key>
			<integer>0</integer>
			<key>HostcheckFailWarning</key>
			<string></string>
			<key>KeepRunning</key>
			<integer>0</integer>
			<key>KeepRunningMaxRetry</key>
			<integer>0</integer>
			<key>Name</key>
			<string>HHQQ_SSO</string>
			<key>ProhibitedTags</key>
			<string></string>
			<key>PromptForAuthentication</key>
			<integer>0</integer>
			<key>PromptForCertificate</key>
			<integer>0</integer>
			<key>ProxyAddress</key>
			<string></string>
			<key>ProxyPassword</key>
			<string></string>
			<key>ProxyPort</key>
			<integer>0</integer>
			<key>ProxyUser</key>
			<string></string>
			<key>ReadOnly</key>
			<integer>0</integer>
			<key>RedundantSortMethod</key>
			<integer>0</integer>
			<key>SSOEnabled</key>
			<integer>1</integer>
			<key>SamlFQDNConsistency</key>
			<integer>0</integer>
			<key>SavePassword</key>
			<integer>0</integer>
			<key>SaveUsername</key>
			<integer>0</integer>
			<key>Server</key>
			<string>secvpn.coflusa.com</string>
			<key>ServerPort</key>
			<integer>10443</integer>
			<key>ShowPasscode</key>
			<integer>0</integer>
			<key>SslVpnType</key>
			<string></string>
			<key>TrafficControl</key>
			<dict>
				<key>Apps</key>
				<array/>
				<key>Enabled</key>
				<false/>
				<key>FQDNs</key>
				<array/>
				<key>Mode</key>
				<integer>2</integer>
			</dict>
			<key>UseExternalBrowser</key>
			<integer>1</integer>
			<key>User</key>
			<string></string>
			<key>VpnType</key>
			<integer>0</integer>
			<key>WarnInvalidServerCertificate</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SecureRemoteAccess</key>
	<integer>0</integer>
	<key>SslShouldBlockIpv6</key>
	<integer>1</integer>
	<key>SuppressVpnNotification</key>
	<integer>0</integer>
	<key>VpnCurrentConnect</key>
	<string></string>
	<key>VpnCurrentConnectType</key>
	<string></string>
	<key>WarnInvalidServerCertificate</key>
	<integer>1</integer>
</dict>
</plist>
